#bar {
    margin: 30px; /* affects top/bottom & left/right alignment */
    font-size: 16px;
    font-family: Product Sans;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: @theme_fg_color;
}

button {
    border-radius: 10px;
    padding: 6px;
    margin: 0px
}

button:hover {
    background-color: @theme_selected_bg_color;
    box-shadow: 0 0 6 2 shade(alpha(@theme_base_color, 0.8), 2.0);
}

button:focus {
    background-color: @theme_selected_bg_color;
    box-shadow: 0 0 4 2 shade(alpha(@theme_base_color, 0.8), 2.0);
}

grid {
    /*background-color: shade(alpha(@theme_base_color, 0.9), 0.4);
    box-shadow: 0 0 6 4 shade(alpha(@theme_base_color, 0.6), 2.0);
    border-radius: 12px;
    padding: 5px;*/
    /* e.g. for common background to all buttons */
}

